html{
    margin: 0;
    padding: 0;
    width: 1280px;
    height: 720px;
  }
  body{
    background: url(ImageBackground1.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: block;
    width: 1280px;
    height: 720px;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0 0 0 0;
  }
  .overlay{
    width: 100%;
    height: 100%;
    background: #2A263D;
    opacity: 0.82;
    position: absolute;
  }
  .icon{
    position: absolute;
    width: 165px;
    height: 165px;
    left: 564px;
    top: 44px;
  }
  .header{
    text-align: center;
    position: absolute;
    left: 476px;
    right: 476px;
    top: 223px;
    bottom: 329px;
  }
  .header h1{
    color: #FFFFFF;
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 84px;

    margin-block-start: 0;
    margin-block-end: 0;
  }
  .header span{
    color: #FCB371;
  }
  .tagline{
    position: absolute;
    text-align: center;
    left: 477px;
    top: 405px;
  }
  .tagline p{
    color: #FFFFFF;
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;

    margin-block-start: 0;
    margin-block-end: 40px;
  }
  button{
    border: 2px solid #FCB371;
    background-color: Transparent;
    box-sizing: border-box;
    border-radius: 6px;
    width: 156px;
    height: 46px;
    
    font-family: Pacifico;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
    color: #FCB371;
    
    cursor: pointer;
  }
  button:hover{
    transition: all .5s ease;
    background: #FCB371;
    border-radius: 6px;
    color: #FFFFFF;
  }